# Ensure true color, especially for ghostty
export TERM=xterm-256color
# Don't run auto update on `brew install`
export HOMEBREW_NO_AUTO_UPDATE=1
# Use linux style config path, not Mac's
export XDG_CONFIG_HOME="$HOME/.config"

pathmunge() {
  if ! echo "$PATH" | grep -Eq "(^|:)$1($|:)"; then
    if [ "$2" = "after" ]; then
      PATH="$PATH:$1"
    else
      PATH="$1:$PATH"
    fi
  fi
}

pathmunge "/usr/local/bin"

# Apple silicon
if [[ -x /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
# Linux
elif [[ -x /home/linuxbrew/.linuxbrew/bin/brew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
# Intel Mac
elif [[ -x /usr/local/bin/brew ]]; then
  eval "$(/usr/local/bin/brew shellenv)"
else
  echo "Homebrew not found" >&2
fi

export AYA_PREFIX=/Users/utensil/.aya
pathmunge "$AYA_PREFIX/bin"

# export PYENV_ROOT="$HOME/.pyenv"
# [[ -d $PYENV_ROOT/bin ]] && pathmunge "PYENV_ROOT/bin:$PATH"
# eval "$(pyenv init -)"

pathmunge "/opt/homebrew/opt/openjdk/bin"

export VCPKG_ROOT="$HOME/.vcpkghome"
pathmunge "$VCPKG_ROOT"

test -f "$HOME/.cargo/env" && . "$HOME/.cargo/env"

pathmunge "$HOME/.juliaup/bin"

# opam configuration
[[ ! -r "$HOME/.opam/opam-init/init.zsh" ]] || source "$HOME/.opam/opam-init/init.zsh" >/dev/null 2>/dev/null

# bun
export BUN_INSTALL="$HOME/.bun"
pathmunge "$BUN_INSTALL/bin"

# >>> xmake >>>
test -f "$HOME/.xmake/profile" && source "$HOME/.xmake/profile"
# <<< xmake <<<

pathmunge "$HOME/.elan/bin"

# pathmunge "${ASDF_DATA_DIR:-$HOME/.asdf}/shims"

# for lms
pathmunge "$HOME/.lmstudio/bin"

# for Elixir
pathmunge "$HOME/.mix/escripts"

# for asdf shims
pathmunge "$HOME/.asdf/shims"

# for zls to work, this should have a higher priority than ASDF shims
# even if it's already in PATH
PATH="$HOME/.local/bin:$PATH"

# for fex
pathmunge "$HOME/.fex/bin"

# for go
pathmunge "$HOME/go/bin"

# for rad
pathmunge "$HOME/.radicle/bin"

# for Amazon Q
# pathmunge "/Applications/Amazon Q.app/Contents/MacOS/"

export PATH

# https://www.visualmode.dev/a-better-man-page-viewer
which nvim > /dev/null && export MANPAGER='nvim +Man!'

# https://chawan.net/doc/cha/troubleshooting.html
# which cha > /dev/null && export MANPAGER='cha -T text/x-ansi'
# alias man=mancha

# export LDFLAGS="-L/opt/homebrew/opt/llvm@18/lib/c++ -L/opt/homebrew/opt/llvm@18/lib -lunwind"
# export PATH="/opt/homebrew/opt/llvm@18/bin:$PATH"
# export LDFLAGS="-L/opt/homebrew/opt/llvm@18/lib"
# export CPPFLAGS="-I/opt/homebrew/opt/llvm@18/include"

# for working around too many opened files
ulimit -n 65536

function uts_remove() {
    echo "[WARN] Please use 'rip' instead of rm, without -rf."
    echo "See https://github.com/MilesCranmer/rip2."
    echo "Hint: you may move it to a temporary location for now."
    TEMP_LOCATION="/tmp/$(whoami)-$(date +%s)-$(head -c 5 /dev/random|xxd -ps)"
    echo mv "${@//-rf/}" "$TEMP_LOCATION"
}

alias rm="uts_remove"

alias j="just"
alias m="mise"
alias zj="zellij"
alias mr="mise run"

alias ll="eza -la"

alias tattoy="tattoy --config-dir $HOME/.config/tattoy/"
# alias se="source ~/.envrc"
