export PATH

eval "$(brew shellenv)"

pathmunge() {
  if ! echo "$PATH" | grep -Eq "(^|:)$1($|:)"; then
    if [ "$2" = "after" ]; then
      PATH="$PATH:$1"
    else
      PATH="$1:$PATH"
    fi
  fi
}

export AYA_PREFIX=/Users/utensil/.aya
pathmunge "$AYA_PREFIX/bin"

# export PYENV_ROOT="$HOME/.pyenv"
# [[ -d $PYENV_ROOT/bin ]] && pathmunge "PYENV_ROOT/bin:$PATH"
# eval "$(pyenv init -)"

pathmunge "/opt/homebrew/opt/openjdk/bin"

export VCPKG_ROOT="$HOME/.vcpkghome"
pathmunge "$VCPKG_ROOT"

. "$HOME/.cargo/env"

pathmunge "$HOME/.juliaup/bin"

# opam configuration
[[ ! -r "$HOME/.opam/opam-init/init.zsh" ]] || source "$HOME/.opam/opam-init/init.zsh" >/dev/null 2>/dev/null

# bun
export BUN_INSTALL="$HOME/.bun"
pathmunge "$BUN_INSTALL/bin"

# >>> xmake >>>
test -f "$HOME/.xmake/profile" && source "$HOME/.xmake/profile"
# <<< xmake <<<

pathmunge "$HOME/.local/bin"

export PATH

# export LDFLAGS="-L/opt/homebrew/opt/llvm@18/lib/c++ -L/opt/homebrew/opt/llvm@18/lib -lunwind"
# export PATH="/opt/homebrew/opt/llvm@18/bin:$PATH"
# export LDFLAGS="-L/opt/homebrew/opt/llvm@18/lib"
# export CPPFLAGS="-I/opt/homebrew/opt/llvm@18/include"
