export PATH

# # amazon q pre block. keep at the top of this file.
# [[ -f "${home}/library/application support/amazon-q/shell/zshrc.pre.zsh" ]] && builtin source "${home}/library/application support/amazon-q/shell/zshrc.pre.zsh"

pathmunge() {
  if ! echo "$PATH" | grep -Eq "(^|:)$1($|:)"; then
    if [ "$2" = "after" ]; then
      PATH="$PATH:$1"
    else
      PATH="$1:$PATH"
    fi
  fi
}

pathmunge "/usr/local/bin"

if [[ -x /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [[ -x /home/linuxbrew/.linuxbrew/bin/brew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
  echo "Homebrew not found" >&2
fi

export AYA_PREFIX=/Users/utensil/.aya
pathmunge "$AYA_PREFIX/bin"

# export PYENV_ROOT="$HOME/.pyenv"
# [[ -d $PYENV_ROOT/bin ]] && pathmunge "PYENV_ROOT/bin:$PATH"
# eval "$(pyenv init -)"

pathmunge "/opt/homebrew/opt/openjdk/bin"

export VCPKG_ROOT="$HOME/.vcpkghome"
pathmunge "$VCPKG_ROOT"

test -f "$HOME/.cargo/env" && . "$HOME/.cargo/env"

pathmunge "$HOME/.juliaup/bin"

# opam configuration
[[ ! -r "$HOME/.opam/opam-init/init.zsh" ]] || source "$HOME/.opam/opam-init/init.zsh" >/dev/null 2>/dev/null

# bun
export BUN_INSTALL="$HOME/.bun"
pathmunge "$BUN_INSTALL/bin"

# >>> xmake >>>
test -f "$HOME/.xmake/profile" && source "$HOME/.xmake/profile"
# <<< xmake <<<

pathmunge "$HOME/.elan/bin"

# pathmunge "${ASDF_DATA_DIR:-$HOME/.asdf}/shims"

# for lms
pathmunge "$HOME/.lmstudio/bin"

# for Elixir
pathmunge "$HOME/.mix/escripts"

# for asdf shims
pathmunge "$HOME/.asdf/shims"

# for zls to work, this should have a higher priority than ASDF shims
# even if it's already in PATH
PATH="$HOME/.local/bin:$PATH"

# for fex
pathmunge "$HOME/.fex/bin"

# for go
pathmunge "$HOME/go/bin"

# for Amazon Q
pathmunge "/Applications/Amazon Q.app/Contents/MacOS/"

export PATH

# https://www.visualmode.dev/a-better-man-page-viewer
which nvim > /dev/null && export MANPAGER='nvim +Man!'

# export LDFLAGS="-L/opt/homebrew/opt/llvm@18/lib/c++ -L/opt/homebrew/opt/llvm@18/lib -lunwind"
# export PATH="/opt/homebrew/opt/llvm@18/bin:$PATH"
# export LDFLAGS="-L/opt/homebrew/opt/llvm@18/lib"
# export CPPFLAGS="-I/opt/homebrew/opt/llvm@18/include"

# for working around too many opened files
ulimit -n 65536

# # Amazon Q post block. Keep at the bottom of this file.
# [[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh"
