.DS_Store
node_modules
build/
output/
latex
data/*.yml
macros/compiled/
latex/trees
*.aux
*.dvi
*.log
*.out
*.fls
*.pdf
!assets/**/*.pdf
*.fdb_latexmk
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
public
server
*.lock
jms/
trees/refs/generated/
trees/refs/references.json
.singularhistory
ag/.ipynb_checkpoints/hello_singular-checkpoint.ipynb
_tmp/*
bun.lockb
lib
.env
.aider*
dotfiles/.config/helix/runtime/grammars/**/*
dotfiles/.config/helix/themes/base16-*.toml
test-results
.ra-aid
test_*.py
interests.md
