// this file is dumped by command
// zellij setup --dump-layout compact > dotfiles/.config/zellij/layouts/compact.kdl
// don't modify it directly, copy to a new name and customize

layout {
    pane
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }
}
