layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane
  // note(2024/06/25): remove the status bar
  // pane size=2 borderless=true {
  //   plugin location="zellij:status-bar"
  // }
}