// this file is dumped by command
// zellij setup --dump-layout default > dotfiles/.config/zellij/layouts/default.kdl
// don't modify it directly, copy to a new name and customize

layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
