// this file is based on compact, adapted significantly according to https://zellij.dev/documentation/creating-a-layout.html#default-tab-template

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    pane_template name="just" command="just"
    tab name="dev" {
        pane split_direction="vertical" {
            just name="dev" {
                args "dev"
                focus true
            }
            pane split_direction="horizontal" {
                just name="cpa" size="80%"{
                    args "cpa"
                }
                just name="awake" size="80%" {
                    args "awake"
                }
            }
        }
    }
}
