// this file is based on compact, adapted significantly according to https://zellij.dev/documentation/creating-a-layout.html#default-tab-template

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    pane_template name="zsh" command="zsh"
    tab name="dev" {
        pane split_direction="vertical" {
            zsh name="dev" {
                args "-c" "just dev"
            }
            pane split_direction="horizontal" {
                zsh name="cpa" size="80%" start_suspended=true {
                    args "-c" "just cpa -c"
                    focus true
                }
                zsh name="awake" size="20%" {
                    args "-c" "just awake"
                }
            }
        }
    }
}
