// this file is based on compact, adapted significantly according to https://zellij.dev/documentation/creating-a-layout.html#default-tab-template

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    tab name="mon" {
        pane split_direction="vertical" {
            pane name="btop" command="btop"
            pane split_direction="horizontal" {
                pane name="macmon" command="macmon"
                pane name="mactop" command="bash" {
                    args "-c" "sudo mactop"
                    focus true
                }
            }
        }
    }
}
