body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    /* font-size: 12pt;
    line-height: 1.55; */
}

@media only screen and (min-width: 1000px) {
    body {
        margin-top: 2em;
        transition: ease all .2s;
    }

    #grid-wrapper {
        display: grid;
        grid-template-columns: 90ex;
        margin-left: auto;
        margin-right: auto;
        max-width: 150ex;
    }

    #grid-wrapper article {
        max-width: 90ex;
    }

    #grid-wrapper nav#toc {
        max-width: 60ex;
    }
}

.link.external a:after {
    font-size: 50%;
    vertical-align: super;
    /* content: "\2197"; */
    /* content: "\21A0"; */
    /* content: "\2192"; */
    /* content: "⧉"; */
}

nav#toc a.link.local,
nav#toc .link.local a,
nav#toc a.slug {
    font-size: 80%;
    box-shadow: none;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: rgb(132, 132, 132);
    /* text-decoration-line: unset;
    text-decoration-style: unset;
    color: #10731d; */
}

/* article {
    line-break: strict;
    word-break: keep-all;
} */

:root,
:root[data-applied-mode="light"] {
    color-scheme: light;
    --uts-text: black;
    --uts-text-gentle-grey: rgb(132, 132, 132);
    --uts-text-gentle: #10731d;
    --uts-background: white;
    /* #f4ecd9; */
}

:root[data-applied-mode="dark"] {
    color-scheme: dark;
    --uts-text: #d5d4d0;
    --uts-text-gentle-grey: rgb(174, 174, 174);
    --uts-text-gentle: #8cd295;
    --uts-background: #262626;
}

body {
    background-color: var(--uts-background) !important;
}

body,
a,
span.taxon,
nav#toc,
nav#toc a {
    color: var(--uts-text) !important;
}

.slug,
.doi,
.orcid,
nav#toc a.link.local,
nav#toc .link.local a,
nav#toc a.slug {
    color: var(--uts-text-gentle-grey) !important;
    /* text-decoration-line: unset !important;
    text-decoration-style: unset !important; */
}

a.slug-source {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: var(--uts-text-gentle-grey) !important;
    font-weight: normal;
}

/* The intention is that this only applies to references */
.link.local a, nav#toc .link.local a, a.slug {
    color: var(--uts-text-gentle) !important;
    box-shadow: none;
    text-decoration-line: unset;
    text-decoration-style: unset;
}

/* So we fix meta items, and local links to normal notes (which looks like prefix-numeric) */
.meta-item .link.local a, .link.local a[href*="-"], .link.local a[href*="utensil"] {
    color: var(--uts-text) !important;
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
}

a.slug[href*="-"], a.slug[href*="index"] {
    color: var(--uts-text-gentle-grey) !important;
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
    cursor: pointer;
    adding: 0;
    font: inherit;
    background: 0 0;
    border: 0;
}

:root svg#sun,
:root[data-applied-mode="dark"] svg#moon {
    display: none;
}

:root[data-applied-mode="dark"] svg#sun {
    display: block;
    color: var(--uts-text);
}

:root[data-applied-mode="dark"] [style*="color"] {
    /* filter: invert(1) !important; */
    filter: brightness(800%) !important;
}

/* :root[data-applied-mode="dark"] img[src$=".svg"] {
    background-color: white;
} */

/* object.embedded-tex {
    width: 88ex
}

:root[data-applied-mode="dark"] .embedded-tex svg text {
    fill: white;
}

:root[data-applied-mode="dark"] .embedded-tex svg path.outline_glyph {
    fill: white;
}

:root[data-applied-mode="dark"] .embedded-tex svg path.typst-shape {
    stroke: white;
} */

svg.embedded-tex-svg {
    max-width: 97%;
}

:root[data-applied-mode="dark"] svg.embedded-tex-svg {
    filter: invert(0.85);
}

:root[data-applied-mode="dark"] img.embedded-tex-svg {
    filter: invert(0.85);
}


/* :root[data-applied-mode="dark"] svg.embedded-tex-svg text {
    fill: white;
}

:root[data-applied-mode="dark"] svg.embedded-tex-svg path {
    stroke: white;
} */

section[data-taxon="Remark"] {
    border-left: 5px solid #458933;
    margin: 1em 0 1em 0;
    padding: 1em 1em 1em 1em;
    background-color: #f5f9f4;
}

section[data-taxon="Remark"]:hover {
    background-color: #eef4ed;
}

section[data-taxon="Remark"] h1 span.taxon {
    color: #2f6023;
    /* #399D3C; */
}

:root[data-applied-mode="dark"] section[data-taxon="Remark"] {
    background-color: #383c38;
}

:root[data-applied-mode="dark"] section[data-taxon="Remark"]:hover {
    background-color: #424742;
}

section[data-taxon="Example"] {
    border: 1px solid #8C2700;
    margin: 1em 0 1em 0;
    padding: 1em 1em 1em 1em;
    background-color: #fef9f8;
}

section[data-taxon="Example"]:hover {
    background-color: #faf3f2;
}

section[data-taxon="Example"] h1 span.taxon {
    color: #8C2700;
}

:root[data-applied-mode="dark"] section[data-taxon="Example"] {
    border: 1px solid #afdff6;
    background-color: #424647;
}

:root[data-applied-mode="dark"] section[data-taxon="Example"]:hover {
    border: 1px solid #aff0f6;
    background-color: #4f5e5b;
}

/*
    Overrides extra styling in style.css
*/
code {
    background-color: unset;
    padding: unset;
    font-size: unset;
}

.link-pdf {
    float: right;
    text-decoration: none;
    cursor: pointer;
}