body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    /* font-size: 12pt;
    line-height: 1.55; */
}

@media only screen and (min-width: 1000px) {
    body {
        margin-top: 2em;
        transition: ease all .2s;
    }

    #grid-wrapper {
        display: grid;
        grid-template-columns: 90ex;
        margin-left: auto;
        margin-right: auto;
        max-width: 150ex;
    }

    #grid-wrapper article {
        max-width: 90ex;
    }

    #grid-wrapper nav#toc {
        max-width: 60ex;
    }
}